div {
    display: flex;
}

.prof_chambers img {
    border: 3px #0f3166 solid;
    padding: 10px;
    margin: 10px;
}

.prof_chambers p {
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;
}

.alter_ego p {
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;

}


.mhstephens p {
    font-family: "Trebuchet MS";
    color: #8866b2;
    max-width: 25%;
    padding: 5px;
    margin: 5px;
} 

.alex_kirner img{
    max-width:8%;
}

.alex_kirner p{
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;
}

.blandau > * {
    padding: 10px;
}

.ben_heck{
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(60, 37, 116);
}

.ben_heck img{
    padding: 10px;
    margin: 10px;
}

.ben_heck{
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(60, 37, 116);
}

.ben_heck img{
    padding: 10px;
    margin: 10px;
}