div {
    display: flex;
}

.prof_chambers img {
    border: 3px #0f3166 solid;
    padding: 10px;
    margin: 10px;
}

.prof_chambers p {
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;
}

.alter_ego p {
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;

}

.jonah_kelsey {
    background-color: rgb(48, 30, 151);
    color: rgb(228, 132, 84);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

.jonah_kelsey img {
    width: 200px;
    margin: 10px;
    border: 5px rgb(228, 132, 84) solid;
}

.jonah_kelsey p {
    max-width: 70%;
    font-size: 20px;
}

.mhstephens p {
    font-family: "Trebuchet MS";
    color: #8866b2;
    max-width: 25%;
    padding: 5px;
    margin: 5px;
} 

.alex_kirner img{
    max-width:8%;
}

.alex_kirner p{
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;
}

.blandau > * {
    padding: 10px;
}

.branson_jones img {
    border: 3px #0f3166 solid;
    padding: 10px;
    margin: 10px;
}

.branson_jones p {
    max-width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f3166;
}

